<h2>All Campaigns</h2>

<div *ngFor="let campaign of campaigns | async" class="panel panel-default">
  <div class="panel-body">
    <h3 (click)="goToDetailPage(campaign)"><em>{{campaign.title}}</em> by {{campaign.author}}</h3>
    <h3>{{campaign.$key}}</h3>
    <img src={{campaign.image}} alt="" />
    <p>{{campaign.currentamount}}</p>
    <div *ngIf="currentRoute === '/admin'">
      <p>{{campaign.description}}</p>
      <hr>
     <app-edit-campaign [selectedCampaign]='campaign'></app-edit-campaign>
    </div>
  </div>
</div>
