<h3>Add New Campaign</h3>
<div>
  <div>
    <label>Title:</label>
    <br>
    <input #newTitle>
  </div>

  <div>
    <label>Author:</label>
    <br>
    <input #newAuthor>
  </div>

  <div>
    <label>Description:</label>
    <br>
    <textarea #newDescription></textarea>
  </div>

  <div>
    <label>Reward:</label>
    <br>
    <input #newReward>
  </div>

  <div>
    <label>Goal:</label>
    <br>
    <input #newGoal>
  </div>

  <div>
    <label>Image Link:</label>
    <br>
    <input #newImage>
  </div>

  <button (click)="submitForm(newTitle.value, newAuthor.value, newDescription.value, newReward.value, newGoal.value, newImage.value)">Add</button>

</div>


<app-campaigns></app-campaigns>
